
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(167, 167, 173, 0.18);
  border: none; 
  /* border-radius: 0; */
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: grey;
  width: 7vh;
  height: 7vh;
  padding: 10px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}

.card {
  /* width: 20rem; */
  margin: auto;
  /* display: grid; */

}

.map {
  width: 100%;
  height: 20rem;
  border-radius: 5px;
  border: 0;
  padding-bottom: 15px;
}

hr{
  color: white;
}